doctype html
html(lang='en')
    h1 Velozity Dashboard
    h3 You're in !
<<<<<<< HEAD
    a(href="/logout") Logout for now
=======
    a(href="http://localhost:3000/logout") Logout for now
    
>>>>>>> b8d273fc17c5fc24ca42a0263aa9e73432fb4043
