.custom-button{
  width: 50%;
  margin-left: 1rem;
  margin-top: 5px;
}

.review-card{
  /* border: 1px solid #8196c5; */
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(92, 216, 236, 0.75);
}

.nutshell-card{
  height: fit-content;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgb(222, 69, 62);
  padding: 1rem;
}

.no-list{
  list-style-type: none;
}

.intro{
  font-family: 'Montserrat', sans-serif;

}
.full-viewport {
  /* The image used */
  background-image: url("../../assets/images/gray.jpg");
  /* Full height */
  min-height: 100%;
  min-height: 100vh;

  /* Center and scale the image nicely */

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}


.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 35px 25px;
}
