<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Velozity</a>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav ml-md-auto d-md-flex">
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">Dashboard
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/resume" routerLinkActive="active">Resume Grader
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/jobs" routerLinkActive="active">Job Search
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/recommender" routerLinkActive="active">Job Recommender
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/saved" routerLinkActive="active"> Saved Jobs
              <span class="sr-only">(current)</span>
            </a>
          </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/logout">Log Out</a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link" href="https://github.com/rzaveri8/CS411-GroupProject/"> Learn More </a>
        </li>
      </ul>
    </div>
  </nav>

<body>
<div class = "full-viewport">
  <section class="intro">
  <h2 class="text-center pt-5">Looking for a job?</h2>
  <h6 class="text-center pt-3">See what people are saying about a job you want to pursue </h6>
  <section class="search-sec d-flex align-items-center pt-3">
    <div class="container">
        <form action="#" method="get" novalidate="novalidate">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-4 offset-lg-1 col-md-5 col-sm-12 p-0">
                            <input type = "text" class="form-control search-slt" name="position" [(ngModel)]="position" placeholder="Enter Position"/>
                        </div>
                         <div class="col-lg-3 col-md-5 col-sm-12 p-0" style="margin-left: 10px;">
                            <input type="text" class="form-control search-slt" name="company" [(ngModel)]="company" placeholder="Enter Company">
                          </div>
                        <div class="col-lg-3 col-md-1 col-sm-12 p-0">
                            <button type="button" class="btn btn-danger wrn-btn custom-button" (click) = "getJobs()">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
  </section>
</section>
    <div class="col-12 pt-4">
  <div class="text-center">
    <h6 *ngIf="glassLoad == true || indeedLoad == true"> Loading <img src="../../assets/images/gear.gif" height=50px> </h6>
    <div *ngIf="iError == true && gError == true">
      <h3> We weren't able to find any data for that job. Try another! </h3>
      <h4> Looking for suggestions ? Try these: </h4>
      <ul>
        <li class="no-list"> Software Engineer at Microsoft </li>
        <li class="no-list"> Product Manager at Amazon </li>
        <li class="no-list"> Color Consultant at Sephora </li>
        <li class="no-list"> Designer at Apple </li>
      </ul>
    </div>
  </div>
  </div>
<div class="container">

  <div class = "container-fluid" style = "padding-left: 75%;">
  <div class = "hide-text" style = "text-align: right;" *ngIf = "gError == false && glassLoad == false && indeedLoad == false">
    <div class="card review-card mb-3" style="width: 17rem; text-align: center;">
      <div class="card-body">Job Capture Likelihood: {{glassRes.likelihood }}%
        </div>
    </div>
    </div>
    </div>

  <mat-tab-group *ngIf="indeedLoad == false && glassLoad == false">
    <div class="container hide-text" *ngIf = "iError == false && indeedLoad == false">
    <mat-tab label="Reviews">
      <h3 style = "padding-top: 20px;">What's it like to be a {{ indeedRes.position }} at {{ indeedRes.company }} ? </h3>
      <div class="row">
        <div class="col-md-9">
          <h5 class="text-left pt-3 pb-0">Reviews:</h5>
          <div class="card review-card mb-3" style="margin-top:20px; margin-right: 30px; margin-left: 30px;" *ngFor = "let review of indeedRes.reviews" >
            <div class="card-body">
              {{ review }}
            </div>
          </div>
        </div>
        <div class="col-md-3" style = "padding-left: -10px;">
          <h5 class="text-center mt-3">In a nutshell: </h5>
          <div class="card nutshell-card">
              <h6 class="text-left">Company Rating: {{ indeedRes.rating }}/5</h6>
              <div *ngIf = "indeedRes.pros.length > 0">
              <h6 class="text-left" style="color:green;">Pros:</h6>
              <ul *ngFor = "let pro of indeedRes.pros">
                <li> {{ pro }} </li>
              </ul>
              </div>
              <div *ngIf = "indeedRes.cons.length > 0">
              <h6 class="text-left" style="color:red;">Cons:</h6>
              <ul *ngFor = "let con of indeedRes.cons">
                <li> {{ con }} </li>
              </ul>
            </div>
          </div>
        </div>
    </div>
    </mat-tab>

    </div>
  <div class="container hide-text" *ngIf = "gError == false && glassLoad == false">
  <mat-tab label="Interviews">
    <div class="card review-card mb-3" style="margin-top:20px; margin-right: 30px; margin-left: 30px;">
      <div class="card-body">
        <div class="container" style = "padding: 10px;">
          <div class="row">
      <div class="col" style = "text-align:center;"><p style = "font-size:25px;"><a style = "font-size: 25px;">Overall Interview Difficulty:</a> {{ glassRes.difficulty }}/5</p></div>
          </div>
          <div class="row">
        <!--   <div class = "centerBlock">-->
            <div class="col-sm">
              <h4> Path to Interview: </h4>
              <ul>
              <li *ngFor = "let path of glassRes.path"> {{ path[0] }}: {{ path[1] }}</li>
              </ul>
              <!-- <p style = "font-size: 30px;">Experiences:</p> -->
              <h4>Experiences:</h4>
              <ul>
              <li>{{ glassRes.experience[0] }}% Positive
              <li> {{ glassRes.experience[1] }}% Negative or Neutral </li>
              </ul>
              <h4> Offers: </h4>
              <ul>
              <li> Accepted: {{ offers[0] }} </li>
              <li> Declined: {{ offers[1] }} </li>
              <li> No Offer: {{ offers[2] }} </li>
              </ul>
              </div>

      <div class="col-sm">
        <h4> Interview Questions: </h4>
        <ul>
        <li *ngFor = "let q of glassRes.questions"> {{ q }}</li>
      </ul>
      </div>
    </div>
        </div>
  </div>
    </div>
    <h4> Comments: </h4>
      <div class="card review-card mb-3" style="margin-top:20px; margin-right: 30px; margin-left: 30px;" *ngFor = "let comm of glassRes.comments">
        <div class="card-body" > {{ comm }} </div>
        </div>
  </mat-tab>
    </div>
  </mat-tab-group>
</div>
</div>

<footer class="page-footer font-small blue" style = "background: #e0e0e0;">
   <div class="footer-copyright text-center py-3 blue">Results provided by <img style = "width: 60px;" src="../../assets/images/indeed-logo.png"> and <img style = "width: 75px;" src="../../assets/images/glassdoor-logo.png">
    </div>
  </footer>

</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
