<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Velozity: One Stop Shop for Professional Development</title>
  <base href="/">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
  <section class="intro">
  <h2 class="text-center pt-5">What does <img src="../../assets/images/indeed-logo.png" width=150px style="margin-bottom:10px;"> think?</h2>
  <h6 class="text-center pt-3">See what people are saying about a job you want to pursue </h6>
  <section class="search-sec d-flex align-items-center pt-3">
    <div class="container">
        <form action="#" method="get" novalidate="novalidate">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-4 offset-lg-1 col-md-5 col-sm-12 p-0">
                            <input type = "text" class="form-control search-slt" name="position" [(ngModel)]="position" placeholder="Enter Position"/>
                        </div>
                         <div class="col-lg-3 col-md-5 col-sm-12 p-0" style="margin-left: 10px;">
                            <input type="text" class="form-control search-slt" name="company" [(ngModel)]="company" placeholder="Enter Company">
                          </div>
                        <div class="col-lg-3 col-md-1 col-sm-12 p-0">
                            <button type="button" class="btn btn-danger wrn-btn custom-button" (click) = "getJobs()">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
  </section>
</section>
  <div class="col-12 pt-4">
  <div class="text-center">
    <h6 *ngIf="loading == true"> Loading <img src="../../assets/images/gear.gif" height=50px> </h6>
    <div *ngIf="errorMessage == true">
      <h3> We weren't able to find any data for that job. Try another ! </h3>
      <h4> Looking for suggestions ? Try these: </h4>
      <ul>
        <li class="no-list"> Software Engineer at Microsoft </li>
        <li class="no-list"> Product Manager at Amazon </li>
        <li class="no-list"> Color Consultant at Sephora </li>
        <li class="no-list"> Designer at Apple </li>
      </ul>
    </div>
  </div>
  <div class="container hide-text" *ngIf = "jobs !== undefined">
    <h3>What's it like to be a {{ jobs.position }} at {{ jobs.company }} ? </h3>
    <div class="row">
      <div class="col-md-9">
        <h5 class="text-left pt-3 pb-0">Reviews:</h5>
        <div class="card review-card mb-3" *ngFor = "let review of jobs.reviews" >
          <div class="card-body">
            {{ review }}
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <h5 class="text-center mt-3">In a nutshell: </h5>
        <div class="card nutshell-card">
            <h6 class="text-left">Company Rating: {{ jobs.rating }}</h6>
            <div *ngIf = "jobs.pros.length > 0">
            <h6 class="text-left" style="color:green;">Pros:</h6>
            <ul *ngFor = "let pro of jobs.pros">
              <li> {{ pro }} </li>
            </ul>
            </div>
            <div *ngIf = "jobs.cons.length > 0">
            <h6 class="text-left" style="color:red;">Cons:</h6>
            <ul *ngFor = "let con of jobs.cons">
              <li> {{ con }} </li>
            </ul>
          </div>
        </div>
      </div>
  </div>
</div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
