<div class = "full-viewport">
<!--<h5 style = "text-align: center; padding-top: 40px; color: white; padding-bottom: 50px;font-size: 45px;">Recommended Jobs</h5>-->
   <!--<div class="container">-->
     <!--<div class="container-design element"><p style = "font-size: 30px;"><u>Recommended Jobs</u></p>-->
        <!--<p style = "font-size: 20px;">Based on your current industry/position of <i>{{ industry }}</i>, we recommend the following jobs:</p>-->
      <!--</div>-->
   <!--</div>-->
  <div class="jumbotron" >
  <div class="container">
    <p style = "text-align: center; font-size: 35px;">Recommended Jobs</p>
    <br>

    <p class="lead" style = "text-align: center;">Based on your current industry/position of <i>{{ user.industry }}</i>, we recommend the following jobs:</p>
    <button type="button" class="custom btn-lg btn btn-primary active" (click)="activateUpdateUserIndustryModal()"> Edit Industry </button>
  </div>
</div>
<div id="posModal" class="modal fade" role="dialog">
    <div class="modal-dialog">      
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Missing Position</h4>
          </div>
          <div class="modal-body">
            <p>Please enter your position or industry to continue.</p>
            <input type="text" placeholder="Enter Position" [(ngModel)]="rawIndustry">
            <button type="button" class="btn btn-default" data-dismiss="modal" (click) = "updateUserIndustry()">Update</button>        
          </div>
      </div>
    </div>
  </div>

    <h4 *ngIf="error"> Error: {{ error }} </h4>
    <h6 style = "text-align:center; padding-top: 30px;" *ngIf="loading == true"> Loading <img src="../../assets/images/gear.gif" height=50px> </h6>
    <div *ngIf="jobs">
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">      
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Job Search</h4>
        </div>
      <div class="modal-body">
        <p>Would you like to search this job?</p>
        <button type="button" class="btn btn-default" data-dismiss="modal" routerLink="/jobs" routerLinkActive="active">OK</button>
      </div>
    </div>
  </div>
</div>
<div class = "full-viewport">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
    <!--      <h5 class="text-left pb-0" *ngIf="industry"> My Current Industry/Position: {{ industry }} </h5>-->
          <h4 *ngIf="error"> Error: {{ error }} </h4> 
          <!-- <div *ngIf="industry == undefined">
            <p> Please update your industry to execute an automatic job search. </p>
            <input #industryField type="text" class="form-control" length="100">
            <button type="submit" class="btn btn-default btn-small" (click)="updateUserIndustry(industryField.value)">Update</button>
          </div> -->
          <div class = "container" style = "width: 600px;"*ngIf="jobs">
            <div class="card mb-3" *ngFor="let job of jobs">
              <div class="card-body job-card" style = "text-align: center;" id="selectedJob" (click)="jobSearch(job)">
                {{ job[0] }} - {{ job[1] }}
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    </div>
</div>
