<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Velozity</a>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav ml-md-auto d-md-flex">
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">Dashboard
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/resume" routerLinkActive="active">Resume Grader
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/jobs" routerLinkActive="active">Job Search
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/recommender" routerLinkActive="active">Job Recommender
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/saved" routerLinkActive="active"> Saved Jobs
              <span class="sr-only">(current)</span>
            </a>
          </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/logout">Log Out</a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link" href="https://github.com/rzaveri8/CS411-GroupProject/"> Learn More </a>
        </li>
      </ul>
    </div>
  </nav>

<div class = "bg">
  <div class="text-center pt-4">
    <h1 style = "color: white;">
    How <strong>strong</strong> is your resume?
    </h1>
    <p style = "color: white; padding-top: 20px;"><i>Upload your resume below and find out how your resume will look to employers</i></p>

  </div>
<div class="container-fluid" style="width:360px; padding-top: 30px;">
<div class="custom-file">
    <input type="file" class="custom-file-input" id="file" (change)="handleFileInput($event.target.files)">
    <label class="custom-file-label" style="width:320px;" for="file" *ngIf = "fileToUpload == undefined">Choose file</label>
    <label class="custom-file-label"style="width:320px;" for="file" *ngIf = "fileToUpload != undefined"> {{ fileToUpload.name }}</label>
</div>
  <p style = "color: white;font-size: 15px;">*Note: Parser only accepts docx, text and pdf files</p>
</div>

  <div style = "padding-top:40px;"></div>
    <h6 style = "text-align:center; color:white;" *ngIf="loading == true"> Loading <img src="../../assets/images/gear.gif" height=50px> </h6>
    <p style = "color: white; padding-top: 20px; text-align:center;" *ngIf = "error == true">There was an error. Make sure you upload only .pdf, .docx, or .txt files.</p>

  <div class="hide-text" *ngIf = "resume !== undefined && error == false">
    <div class="hide-text element container blur-box" style = "padding-bottom: 100px;">
      <p style = "text-align: center;font-size: 20px;">Overall Grade:  {{ resume.rezscore.score[0].grade[0] }}</p>
      <a class = "center-title1"><strong><u>Resume Overview</u></strong></a>
      <a class = "center-title2"><strong><u>Grade Explanation</u></strong></a>
      <a class = "center-title3"><strong><u>Statistics</u></strong></a>
      <div class="b">
        <p><strong>Most Popular Words:</strong></p>
          <ul>
        <li *ngFor="let word of resume.rezscore.language[0].word"> {{ word.string[0] }} </li>
          </ul>
        <p> <strong>First Industry Match:</strong> {{ resume.rezscore.industry[0].first_industry_match[0] }}</p>
        <p> <strong>Second Industry Match: </strong>{{ resume.rezscore.industry[0].second_industry_match[0] }}</p>
        <p> <strong>Third Industry Match:</strong> {{ resume.rezscore.industry[0].third_industry_match[0] }}</p>
      </div>
      <div class="b">
        <p><strong>Grade Headline: </strong>{{ resume.rezscore.score[0].grade_headline[0] }} </p>
        <p><strong>Grade Blurb:</strong> {{ resume.rezscore.score[0].grade_blurb[0] }} </p>
        <a><strong>Advice: </strong>{{ resume.rezscore.advice[0].tip[0].long[0] }}</a>&nbsp;
        <a>{{ resume.rezscore.advice[0].tip[0].short[0].a[0]._ }}</a>
      </div>
      <div class="b">
        <p *ngIf="resume.rezscore.score[0].percentile != undefined"> <strong>Percentile: </strong>{{ resume.rezscore.score[0].percentile[0] }} </p>
        <p *ngIf="resume.rezscore.extended[0].ari_score[0] != undefined"> <strong>Readability: </strong>{{ resume.rezscore.extended[0].ari_score[0] }}</p>
        <p *ngIf="resume.rezscore.extended[0].pct_buzzwords[0] != undefined"> <strong>Buzzword Percent: </strong>{{ resume.rezscore.extended[0].pct_buzzwords[0] }}%</p>
        <p *ngIf="resume.rezscore.extended[0].pct_whitespace[0] != undefined"> <strong>Whitespace Percent: </strong>{{ resume.rezscore.extended[0].pct_whitespace[0] }}%</p>
        <p *ngIf="resume.rezscore.extended[0].wordcount[0] != undefined"> <strong>Word Count:</strong> {{ resume.rezscore.extended[0].wordcount[0] }}</p>
        <p *ngIf="resume.rezscore.score[0].brevity_score[0] != undefined"> <strong>Brevity Score:</strong> {{ resume.rezscore.score[0].brevity_score[0] }}/100 </p>
        <p *ngIf="resume.rezscore.score[0].depth_score[0] != undefined"> <strong>Depth Score: </strong>{{ resume.rezscore.score[0].depth_score[0] }}/100 </p>
        <p *ngIf="resume.rezscore.score[0].impact_score[0] != undefined"> <strong>Impact Score: </strong>{{ resume.rezscore.score[0].impact_score[0] }}/100 </p>
      </div>
  </div>
  </div>
</div>


 