<div class = "bg">
  <div class="text-center pt-4">
    <h1 style = "color: white;">
    How <strong>strong</strong> is your resume?
    </h1>
    <p style = "color: white; font-family: Snell Roundhand, cursive; padding-top: 20px;"><i>Upload your resume below and find out how your resume will look to employers</i></p>
  </div>

<div style = "margin-left: 575px; padding-top: 30px;">
<div class="container">
  <div class="custom-file">
    <input type="file" class="custom-file-input" id="file" (change)="handleFileInput($event.target.files)">
    <label class="custom-file-label" style="width:320px;" for="file" *ngIf = "fileToUpload == undefined">Choose file</label>
    <label class="custom-file-label"style="width:320px;" for="file" *ngIf = "fileToUpload != undefined"> {{ fileToUpload.name }}</label>
  </div>
</div>
</div>
  <div style = "padding-top:40px;"></div>
<!-- ask <h6 *ngIf="loading == true"> Loading <img src="gear.gif"></h6>-->
  <div class="hide-text" *ngIf = "resume !== undefined">
    <div class="hide-text element container blur-box" style = "padding-bottom: 100px;">
      <p style = "text-align: center;font-size: 20px;">Overall Grade:  {{ resume.rezscore.score[0].grade[0] }}</p>
      <a class = "center-title1"><strong><u>Resume Overview</u></strong></a>
      <a class = "center-title2"><strong><u>Grade Explanation</u></strong></a>
      <a class = "center-title3"><strong><u>Statistics</u></strong></a>
      <div class="b">
        <p><strong>Most Popular Words:</strong></p>
          <ul>
        <li *ngFor="let word of resume.rezscore.language[0].word"> {{ word.string[0] }} </li>
          </ul>
        <p> <strong>First Industry Match:</strong> {{ resume.rezscore.industry[0].first_industry_match[0] }}</p>
        <p> <strong>Second Industry Match: </strong>{{ resume.rezscore.industry[0].second_industry_match[0] }}</p>
        <p> <strong>Third Industry Match:</strong> {{ resume.rezscore.industry[0].third_industry_match[0] }}</p>
      </div>
      <div class="b">
        <p><strong>Grade Headline: </strong>{{ resume.rezscore.score[0].grade_headline[0] }} </p>
        <p><strong>Grade Blurb:</strong> {{ resume.rezscore.score[0].grade_blurb[0] }} </p>
        <a><strong>Advice: </strong>{{ resume.rezscore.advice[0].tip[0].long[0] }}</a>&nbsp;
        <a>{{ resume.rezscore.advice[0].tip[0].short[0].a[0]._ }}</a>
      </div>
      <div class="b">
        <p> <strong>Percentile: </strong>{{ resume.rezscore.score[0].percentile[0] }} </p>
        <p> <strong>Readability: </strong>{{ resume.rezscore.extended[0].ari_score[0] }}</p>
        <p> <strong>Buzzword Percent: </strong>{{ resume.rezscore.extended[0].pct_buzzwords[0] }}</p>
        <p> <strong>Whitespace Percent: </strong>{{ resume.rezscore.extended[0].pct_whitespace[0] }}</p>
        <p> <strong>Word Count:</strong> {{ resume.rezscore.extended[0].wordcount[0] }}</p>
        <p> <strong>Brevity Score:</strong> {{ resume.rezscore.score[0].brevity_score[0] }} </p>
        <p> <strong>Depth Score: </strong>{{ resume.rezscore.score[0].depth_score[0] }} </p>
        <p> <strong>Impact Score: </strong>{{ resume.rezscore.score[0].impact_score[0] }} </p>
      </div>
  </div>
  </div>
</div>


