<div class = "bg">
  <a class="navbar-brand title-center custom-pad">Velozity</a>
  <br>
  <a class="title-center navbar-brand">Your One Stop Shop for Professional Development </a>
  <div class = "pad"></div>
  <div class="container">
    <div style = "text-align: center">
      <h3 class="text-center pt-3" style = "color: #007bb6;">Sign In</h3>
      <a href="#" title="LinkedIn" class="btn btn-linkedin btn-lg mt-3"><i class="fab fa-linkedin" style="font-size: 1.25em;">&nbsp;</i><a class = "verticalLine"> Login with Linkedin</a></a>
    </div>
  </div>
</div>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

